# accelerometers
CONFIG_INPUT_ACC=y
CONFIG_INPUT_AIS2IH=m
CONFIG_INPUT_AIS2IH_I2C=m
CONFIG_INPUT_AIS2IH_SPI=m
CONFIG_INPUT_AIS328DQ=m
CONFIG_INPUT_AIS328DQ_I2C=m
CONFIG_INPUT_AIS328DQ_SPI=m
CONFIG_INPUT_AIS3624DQ=m
CONFIG_INPUT_AIS3624DQ_I2C=m
CONFIG_INPUT_AIS3624DQ_SPI=m
CONFIG_INPUT_LIS2DH=m
CONFIG_INPUT_LIS2DH_I2C=m
CONFIG_INPUT_LIS2DH_SPI=m
CONFIG_INPUT_LIS2DE=m
CONFIG_INPUT_LIS2DE_I2C=m
CONFIG_INPUT_LIS2DE_SPI=m
CONFIG_INPUT_LIS2DS=m
CONFIG_INPUT_LIS2DS_I2C=m
CONFIG_INPUT_LIS2DS_SPI=m
CONFIG_INPUT_H3LIS100DL=m
CONFIG_INPUT_H3LIS100DL_I2C=m
CONFIG_INPUT_H3LIS100DL_SPI=m
CONFIG_INPUT_LIS3DSH=m
CONFIG_INPUT_LIS3DSH_I2C=m
CONFIG_INPUT_LIS3DSH_SPI=m
CONFIG_INPUT_LIS2HH12=m
CONFIG_INPUT_LIS2HH12_I2C=m
CONFIG_INPUT_LIS2HH12_SPI=m
CONFIG_INPUT_LIS3DE=m
CONFIG_INPUT_LIS3DE_I2C=m
CONFIG_INPUT_LIS3DE_SPI=m
CONFIG_INPUT_LIS331DLH=m
CONFIG_INPUT_LIS331DLH_I2C=m
CONFIG_INPUT_LIS331DLH_SPI=m
CONFIG_INPUT_LIS331HH=m
CONFIG_INPUT_LIS331HH_I2C=m
CONFIG_INPUT_LIS331HH_SPI=m
CONFIG_INPUT_H3LIS331DL=m
CONFIG_INPUT_H3LIS331DL_I2C=m
CONFIG_INPUT_H3LIS331DL_SPI=m
CONFIG_INPUT_LIS3DH=m
CONFIG_INPUT_LIS3DH_I2C=m
CONFIG_INPUT_LIS3DH_SPI=m
CONFIG_INPUT_LIS2DW12=m
CONFIG_INPUT_LIS2DW12_I2C=m
CONFIG_INPUT_LIS2DW12_SPI=m
CONFIG_INPUT_LIS3DHH=m
CONFIG_INPUT_LIS3DHH_SPI=m
