# Humidity
CONFIG_INPUT_HUMIDITY=y
CONFIG_INPUT_HTS221=m
CONFIG_INPUT_HTS221_I2C=m
CONFIG_INPUT_HTS221_SPI=m
# Pressure
CONFIG_INPUT_PRESSURE=y
CONFIG_INPUT_LPS22HB=m
CONFIG_INPUT_LPS22HB_I2C=m
CONFIG_INPUT_LPS22HB_SPI=m
CONFIG_INPUT_LPS25H=m
CONFIG_INPUT_LPS25H_I2C=m
CONFIG_INPUT_LPS25H_SPI=m
CONFIG_INPUT_LPS33HW=m
CONFIG_INPUT_LPS33HW_I2C=m
CONFIG_INPUT_LPS33HW_SPI=m
CONFIG_INPUT_LPS22HH=m
CONFIG_INPUT_LPS22HH_I2C=m
CONFIG_INPUT_LPS22HH_SPI=m
CONFIG_INPUT_LPS22DF=m
CONFIG_INPUT_LPS22DF_I2C=m
CONFIG_INPUT_LPS22DF_SPI=m
# Temperature
CONFIG_INPUT_TEMPERATURE=y
CONFIG_INPUT_STTS751=m
# UV
CONFIG_INPUT_UV=y
CONFIG_INPUT_UVIS25=m
CONFIG_INPUT_UVIS25_I2C=m
CONFIG_INPUT_UVIS25_SPI=m
