# IMUs
CONFIG_INPUT_IMU=y
CONFIG_INPUT_LSM6DS3=m
CONFIG_INPUT_LSM6DS3_I2C=m
CONFIG_INPUT_LSM6DS3_SPI=m
CONFIG_INPUT_LSM6DSM=m
CONFIG_INPUT_LSM6DSM_I2C=m
CONFIG_INPUT_LSM6DSM_SPI=m
CONFIG_INPUT_LSM6DSL=m
CONFIG_INPUT_LSM6DSL_I2C=m
CONFIG_INPUT_LSM6DSL_SPI=m
CONFIG_INPUT_LSM9DS0=m
CONFIG_INPUT_LSM9DS0_I2C=m
CONFIG_INPUT_LSM9DS0_SPI=m
CONFIG_INPUT_LSM9DS1=m
CONFIG_INPUT_LSM9DS1_I2C=m
CONFIG_INPUT_LSM9DS1_SPI=m
CONFIG_INPUT_LSM330DLC=m
CONFIG_INPUT_LSM330DLC_I2C=m
CONFIG_INPUT_LSM330DLC_SPI=m
CONFIG_INPUT_LSM6DS0=m
CONFIG_INPUT_LSM6DS0_I2C=m
CONFIG_INPUT_LSM6DS0_SPI=m
CONFIG_INPUT_LSM330=m
CONFIG_INPUT_LSM330_I2C=m
CONFIG_INPUT_LSM330_SPI=m
CONFIG_INPUT_ISM330DLC=m
CONFIG_INPUT_ISM330DLC_I2C=m
CONFIG_INPUT_ISM330DLC_SPI=m
CONFIG_INPUT_ASM330LHH=m
CONFIG_INPUT_ASM330LHH_I2C=m
CONFIG_INPUT_ASM330LHH_SPI=m
CONFIG_ASM330LHH_IRQ_THREAD=y
CONFIG_INPUT_LSM6DSOX=m
CONFIG_INPUT_LSM6DSOX_I2C=m
CONFIG_INPUT_LSM6DSOX_SPI=m
# e-compasses
CONFIG_INPUT_ECOMPASS=y
CONFIG_INPUT_LSM303AGR=m
CONFIG_INPUT_LSM303AGR_I2C=m
CONFIG_INPUT_LSM303AGR_SPI=m
CONFIG_INPUT_LSM303AH=m
CONFIG_INPUT_LSM303AH_I2C=m
CONFIG_INPUT_LSM303AH_SPI=m
CONFIG_INPUT_LSM303C=m
CONFIG_INPUT_LSM303C_I2C=m
CONFIG_INPUT_LSM303C_SPI=m
CONFIG_INPUT_LSM303D=m
CONFIG_INPUT_LSM303D_I2C=m
CONFIG_INPUT_LSM303D_SPI=m
CONFIG_INPUT_LSM303DLHC=m
CONFIG_INPUT_LSM303DLHC_I2C=m
CONFIG_INPUT_ISM303DAC=m
CONFIG_INPUT_ISM303DAC_I2C=m
CONFIG_INPUT_ISM303DAC_SPI=m
