# gyroscopes
CONFIG_INPUT_GYRO=y
CONFIG_INPUT_L3G4200D=m
CONFIG_INPUT_L3G4200D_I2C=m
CONFIG_INPUT_L3G4200D_SPI=m
CONFIG_INPUT_L3GD20=m
CONFIG_INPUT_L3GD20_I2C=m
CONFIG_INPUT_L3GD20_SPI=m
CONFIG_INPUT_L3GD20H=m
CONFIG_INPUT_L3GD20H_I2C=m
CONFIG_INPUT_L3GD20H_SPI=m
CONFIG_INPUT_A3G4250D=m
CONFIG_INPUT_A3G4250D_I2C=m
CONFIG_INPUT_A3G4250D_SPI=m
# magnetometers
CONFIG_INPUT_MAGN=y
CONFIG_INPUT_LIS3MDL=m
CONFIG_INPUT_LIS3MDL_I2C=m
CONFIG_INPUT_LIS3MDL_SPI=m
CONFIG_INPUT_LIS2MDL=m
CONFIG_INPUT_LIS2MDL_I2C=m
CONFIG_INPUT_LIS2MDL_SPI=m
